@font-face { font-family: outfit-medium; 
    src: url('./../fonts/Outfit-Medium.ttf'); } 
  
@font-face { font-family: outfit-bold; 
    src: url('./../fonts/Outfit-Bold.ttf'); }

@font-face { font-family: outfit-semibold; 
    src: url('./../fonts/Outfit-SemiBold.ttf'); } 