@import 'fonts';

div {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h3, h4, p {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./../assets/background.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    padding: 0.94%;
    width: 100%;
}

.container {
    border-width: 2px;
    border-style: solid;
    border-image: linear-gradient(150deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.05)) 1;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 5.41% 3.82%;
    margin: 0;
}

.main-container {
    display: inline-block;
    height: 92.335%;
    width: 100%;
}

@import 'components/header';
@import 'components/nav';
@import 'components/main';

