header {
    height: 7.66%;
    
    .info {
        display: inline-block;
        width: 20%;
        height: 100%;

        img {
            height: 100%;
            margin-right: 8.64%;
            width: auto;
        }

        .department {
            display: inline-block;
            padding-top: 1.45%;
            vertical-align: top;
            height: 100%;

            h3, h4 {
                font-family: outfit-semibold;
                font-size: 0.83vw;
                margin: 0;
            }

            h3 {
                color: white;
            }

            h4 {
                color: rgba(255, 255, 255, 0.65);
                text-transform: uppercase;
            }
        }
    }

    .duty {
        float: right;
        background-color: rgba(255, 255, 255, 0.03);
        padding: 0.52% 0.58%;
        height: 100%;
        box-sizing: border-box;
        width: 27.78%;

        div {
            display: inline-block;
            vertical-align: top;
        }

        p {
            font-family: outfit-medium;
            margin: 0;
            text-transform: uppercase;
        }

        .state {
            padding: 2.15% 2.87%;
            margin: 1.43% 0;
            width: 11.75%;

            p {
                font-size: 0.62vw;
                line-height: 0.62vw;
            }

            &.on {
                background: rgba(101, 255, 144, 0.1);
                border: 1px rgba(101, 255, 144, 0.25) solid;

                p {
                    color: rgba(101, 255, 144, 1);
                }
            }

            &.off {
                background: rgba(255, 101, 101, 0.1);
                border: 1px solid rgba(255, 101, 101, 0.45);

                p {
                    color: #ff8686;
                }
            }
        }

        .data {
            padding: 1.58% 0px;
            margin: 1.35% 6.75%;
            width: 44.9%;

            p {
                display: inline;
                font-size: 0.83vw;
                line-height: 0.83vw;
            }

            .name {
                color: white;
                margin-right: 11%;
                position: relative;

                &::after {
                    content: '';
                    width: 7.5%;
                    height: 30%;
                    position: absolute;
                    background: rgba(255, 255, 255, 0.35);
                    border-radius: 155px;
                    right: -19%;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            .range {
                color: rgba(255, 255, 255, 0.65);
            }
        }

        .actions {
            height: 100%;
            width: 21%;

            div {
                cursor: pointer;
                box-sizing: border-box;
                height: 100%;
                width: 47%;
                position: relative;

                svg {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 41%;
                    height: 41%;
                }
            }

            .options {
                background: rgba(255, 255, 255, 0.1);
                border: 1px solid;
                border-image-source: linear-gradient(265.93deg, rgba(255, 255, 255, 0.35) -82.05%, rgba(255, 255, 255, 0) 69.95%);
            }

            .close {
                background: rgba(255, 101, 101, 0.1);
                border: 1px solid;
                border-image-source: linear-gradient(265.93deg, rgba(255, 101, 101, 0.45) -82.05%, rgba(255, 101, 101, 0) 69.95%);

                svg {
                    width: 32%;
                    height: 32%;
                }
            }
        }
    }
}

@media (max-width: 1365px) {
    header{
        .duty {
            width: 28%;

            .data {
                padding: 0;
                width: 43.9%;
            }

            .actions div{
                width: 46.1%;
            }
        }
    }
}