main {
    display: inline-block;
    margin-top: 62px;
    width: calc(100% - 304px);
    margin-left: 20px;
    vertical-align: top;

    section {
        background: rgba(255, 255, 255, 0.02);
        border: 1px solid rgba(255, 255, 255, 0.1);
        width: 49.8%;
        height: 710px;
        display: inline-block;
        padding: 35px 20px 0 30px;
        box-sizing: border-box;
        vertical-align: top;
    }

    .informationList {
        .header {
            position: relative;
            height: 50px;

            .info {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);

                svg {
                    position: relative;
                    top: -4px;
                }
            }

            .search {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);

                &::before {
                    content: '';
                    width: 16.5px;
                    height: 16.5px;
                    position: absolute;
                    top: 16.5px;
                    left: 16.5px;
                    background-image: url('./../assets/lupa.png');
                }

                &::after {
                    content: '';
                    width: 1px;
                    height: 22px;
                    position: absolute;
                    top: 14px;
                    left: 50px;
                    background: rgba(255, 255, 255, 0.25);
                    border-radius: 8px;
                }

                input {
                    height: 50px;
                    width: 300px;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border: 1px solid rgba(255, 255, 255, 0.15);
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0.07) 0%, rgba(255, 255, 255, 0) 100%);
                    padding: 14px 0 14px 65px;
                    color: rgba(255, 255, 255, 0.65);
                    font-size: 16px;
                    font-family: outfit-medium;

                    &::-webkit-search-cancel-button{
                        position:relative;
                        right:10px;
                        filter: grayscale(1);
                    }

                    &::-webkit-search-decoration {
                        -webkit-appearance: none;
                    }

                    &:focus {
                        outline: transparent;
                    }
                }
            }

            .title {
                display: inline-block;
                margin-left: 20px;

                h4 {
                    font-family: outfit-medium;
                    font-size: 14px;
                    color: rgba(255, 255, 255, 0.3);
                    text-transform: uppercase;
                }

                h3 {
                    font-family: outfit-bold;
                    font-size: 20px;
                    color: white;
                    text-transform: uppercase;
                }
            }
        }

        .cardList {
            margin-top: 30px;
            position: relative;
            height: 594px;
            overflow: auto;
            padding-right: 10px;

            &::-webkit-scrollbar {
                width: 2px;
                position: absolute;
                right: -10px;
                top: 0;
            }

            &::-webkit-scrollbar-track {
                background: rgba(255, 255, 255, 0.15);
                margin-left: 10px;
            }

            &::-webkit-scrollbar-thumb {
                background: white;
                border-radius: 10px;
            }

            .card {
                background: rgba(255, 255, 255, 0.02);
                border: 1px solid rgba(255, 255, 255, 0.1);
                padding: 20px;
                margin-bottom: 10px;
                position: relative;

                &.hidden {
                    display: none;
                }

                &.red {
                    background: rgba(241, 51, 51, 0.05);
                    border: 1px solid rgba(241, 51, 51, 0.25);

                    .character {
                        border: 1px solid rgba(241, 51, 51, 0.3);
                        backdrop-filter: grayscale(30%);
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }

                .character {
                    background-image: url('./../assets/character_background.png');
                    background-repeat: no-repeat;
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    width: 110px;
                    height: 110px;
                    display: inline-block;
                }

                .info {
                    display: inline-block;
                    margin-left: 24px;
                    width: calc(100% - 140px);
                    vertical-align: top;
                    padding-top: 10px;

                    h4 {
                        font-family: outfit-semibold;
                        font-size: 18px;
                        color: white;
                    }

                    .information {
                        p {
                            color: rgba(255, 255, 255, 0.46);
                            font-family: outfit-semibold;
                            font-size: 14px;
                            text-transform: uppercase;
                            display: inline-block;
                            position: relative;
                            margin-right: 22px;

                            &::after {
                                content: '';
                                width: 6px;
                                height: 6px;
                                position: absolute;
                                background: rgba(255, 255, 255, 0.35);
                                border-radius: 155px;
                                right: -16px;
                                top: 50%;
                                transform: translateY(-50%);
                            }

                            &:last-child {
                                &::after {
                                    display: none;
                                }
                            }
                        }
                    }

                    .actions {
                        margin-top: 10px;

                        .status {
                            padding: 8px 13px;
                            font-family: outfit-semibold;
                            font-size: 12px;
                            line-height: 14px;
                            text-transform: uppercase;
                            width: auto;
                            display: inline-block;
                            margin-right: 20px;

                            &.pending {
                                background: rgba(99, 180, 255, 0.02);
                                border: 1px solid rgba(99, 180, 255, 0.25);
                                color: #63B4FF
                            }

                            &.rejected {
                                background: rgba(241, 51, 51, 0.02);
                                border: 1px solid rgba(241, 51, 51, 0.25);
                                color: #F13333;
                            }
                        }

                        .action {
                            display: inline-block;
                            width: 32px;
                            height: 32px;
                            box-sizing: border-box;
                            vertical-align: top;
                            position: relative;
                            cursor: pointer;

                            svg {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }

                            &.approve {
                                background: rgba(101, 255, 144, 0.25);
                                border: 1px solid rgba(101, 255, 144, 0.45);
                            }

                            &.reject {
                                background: rgba(255, 101, 101, 0.25);
                                border: 1px solid rgba(255, 101, 101, 0.45);
                            }
                        }
                    }
                }

                .expiration {
                    background: rgba(255, 255, 255, 0.1);
                    padding: 8px 15px;
                    color: rgba(255, 255, 255, 0.9);
                    font-size: 10px;
                    line-height: 13px;
                    font-family: outfit-semibold;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media (max-width:1570px){
    main section {
        width: 100%;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width:1060px){
    main .informationList .header .search input {
        width: 260px;
    }
    
    main .informationList .cardList .card .expiration {
        bottom: auto;
        top: 0;
    }
}