nav {
    clear: both;
    margin-top: 62px;
    max-width: 280px;
    display: inline-block;

    ul {
        margin: 0;
        padding: 0;

        li {
            background-image: url('./../assets/nav_background.png');
            width: 280px;
            height: 110px;
            margin-bottom: 10px;
            list-style: none;
            padding: 20px 24px;
            box-sizing: border-box;
            cursor: pointer;
            position: relative;
    
            &:last-child {
                margin-bottom: 0;
            }

            &::after {
                content: '';
                background: 
                linear-gradient(-45deg, transparent calc(100%/3), rgba(255, 255, 255, 0.05), transparent calc(200%/3)) 
                bottom right/350% 100% no-repeat;
                transition: 0.5s linear;
                width: 100%;
                height: 100%;
                top:0;
                left: 0;
                position: absolute;
            }

            &:hover {
                &::after {
                    background-position: bottom left;
                }
            }

            &.active {
                background-image: url('./../assets/nav_background_active.png');

                .figure .background {
                    background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 65.09%, rgba(255, 255, 255, 0.77) 79.24%, rgba(255, 255, 255, 0) 117.31%);
                }

                &::before {
                    content: '';
                    position: absolute;
                    left: -5px;
                    top: 50%;
                    width: 6.5px;
                    height: 20px;
                    transform: translateY(-50%);
                    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                    background-color: white;
                }

                &::after {
                    background: none;
                }

                .figure svg {
                    color: black;
                }
            }

            .figure, .info {
                display: inline-block;
            }

            .figure {
                position: relative;
                width: 70px;
                height: 70px;
                vertical-align: middle;
                background-image: url('./../assets/square_background.png');

                &::after {
                    content: '';
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background: rgba(255, 255, 255, 0.65);
                    bottom: -2px;
                    left: -2px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 40px;
                    left: -5px;
                    top: 12px;
                    background: rgba(255, 255, 255, 0.35);
                }

                .background {
                    width: 74px;
                    height: 50px;
                    position: absolute;
                    top: 10px;
                    left: 8px;
                    background: linear-gradient(163.92deg, rgba(255, 255, 255, 0.1) 5.34%, rgba(255, 255, 255, 0) 89.63%);
                }

                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                }
            }

            .info {
                position: relative;
                left: 28px;
                top: 50%;
                transform: translateY(-50%);
            }

            h4 {
                font-family: outfit-bold;
                text-transform: uppercase;
                color: white;
                font-size: 20px;
                margin: 0;
            }

            p {
                font-family: outfit-semibold;
                text-transform: uppercase;
                color: rgba(255, 255, 255, 0.45);
                font-size: 14px;
                margin: 0;
            }
        }
    }
}

